<header class="container">
  <h1>{{title}}</h1>

  <ul class="breadcrumb">
    <li>Home</li>
    <li>Shopping Cart</li>
  </ul>

  <span class="count">{{numberItem}} items in the bag</span>
</header>
