




      <section class="container">
        <div class="promotion">
          <label for="promo-code">Have A Promo Code?</label>
          <input type="text" id="promo-code" /> <button type="button"></button>
        </div>

        <div class="summary">
          <ul>
            <li>Subtotal <span>$21.97</span></li>
            <li>Tax <span>$5.00</span></li>
            <li class="total">Total <span>$26.97</span></li>
          </ul>
        </div>

        <div class="checkout">
          <button type="button">Check Out</button>
        </div>
      </section>
